input.ng-invalid.ng-touched {
  border: 1px solid red;
}

h3 {
  color: #fa9a1c;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

h4 {
  color: #fa9a1c;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  border: 3px solid #fa9a1c;
  background-color: rgba(255, 166, 0, 0.432);
}

#planos {
  padding: 0 0 50px;
  min-height: 100vh;
}

#listaplanos {
  margin: 0 auto;
  width: calc(40% - 10px);
  height: 50%;
  padding: 25px;
  text-align: center;
}

.card-text {
  font-size: 40px;
}



