.container {
  width: 80%;
  height: auto;
  margin-top: 2%;
  padding: 30px 30px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
}


#selfie {
  width: 40%;
  height: auto;
  align-items: center;
  text-align: center;
  margin-left: 35%;
  margin-top: 2%;
}

#formFile {
  width: 50%;
  height: auto;
  align-items: center;
  margin-top: 2%;
  margin-left: 20%;
}

#cards {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#btnEnviar {
  width: 18%;
  height: auto;
  margin-left: 40%;
}

h5 {
  color: #fa9a1c;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

