.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

#banner {
  position: absolute;
  width: 100%;
  height: auto;
}

#button {
  width: 100px;
  height: 40px;
  background-color: orange;
}

.btn {
  background-color: orange;
}

#container {
  margin-top: 23%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#cards {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  width: 30%;
  height: auto;
  align-items: center;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
}


