<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark custom" style="background-color: rgba(250, 138, 34, 0.932);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo/logo2.png" alt="" width="60" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Banner inicial -->
<img
src="assets/imgs/banner1.png"
class="img-fluid"
id="banner"
alt="Banner inicial"/>

<!-- Consultar CPF -->
<div class="container-fluid w-50 h-50" id="container">
  <div class="card border-warning text-center">
    <div class="card-header">
      <h4> Insira seu CPF para começar </h4>
    </div>
    <div class="card-body">
      <form class="cadastroForm" (ngSubmit)="consultaCPF()">
        <div class="form-group">
          <input
          class="form-control"
          maxlength="11"
          placeholder="Digite seu CPF"
          [(ngModel)]="cpf"
          name="cpf"
          />
        </div>
        <p></p><button type="submit" class="btn text-white btn-warning btn-block fw-bold" id="button">Enviar</button>
      </form>
    </div>
  </div>
</div>

<!-- CARDS -->
<div class="card-group" id="cards">
  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/car-seguro.png" class="card-img-top" alt="seguros de carros">
    <div class="card-body">
      <h5 class="card-title">Seguros</h5>
      <p class="card-text">Encontre o seguro ideal para você e para sua empresa. São diversas modalidades em parceria com as maiores seguradoras do mercado.</p>
      <a href="#" class="btn text-white btn-warning btn-block fw-bold">Saiba Mais</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/cartao.png" class="card-img-top" alt="cartao de credito">
    <div class="card-body">
      <h5 class="card-title">Cartão de crédito</h5>
      <p class="card-text">O cartão MNK Bank é múltiplo, internacional e sem anuídade! Já vem pronto para usar no débito e você também pode pedir uma análise para função crédito.</p>
      <a href="#" class="btn text-white btn-warning btn-block fw-bold">Saiba Mais</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/investimentos.png" class="card-img-top" alt="investimentos">
    <div class="card-body">
      <h5 class="card-title">Investimentos</h5>
      <p class="card-text">Uma plataforma completa de investimentos, que reúne o mlehor de um banco e de uma corretora. Invista com praticidade e segurança.</p>
      <a href="#" class="btn text-white btn-warning btn-block fw-bold">Saiba Mais</a>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">MRN Bank </a>
  </div>
  <!-- Copyright -->
</footer>
