#banner {
  position: absolute;
  width: 100%;
  height: auto;
}

#button {
  width: 100px;
  height: 40px;
  background-color: orange;
}

.btn {
  background-color: orange;
}

#container {
  margin-top: 25%;
  width: auto;
  height: auto;
}

#cards {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  width: 30%;
  height: auto;
  align-items: center;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
}


