<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark custom" style="background-color: rgba(250, 138, 34, 0.932);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo/logo2.png" alt="" width="60" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container">
  <h3>Preencha os dados cadastrais abaixo:</h3>
<form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('cpf')">
      <label for="cpf" class="control-label">CPF:</label>
      <input type="text"
      maxlength="11"
      minlength="11"
      formControlName="cpf"
      id="cpf"
      class="form-control"
      placeholder="CPF"/>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('nomeCompleto')">
      <label for="nomeCompleto" class="control-label">Nome Completo:</label>
      <input type="text"
      formControlName="nomeCompleto"
      id="nomeCompleto"
      class="form-control"
      placeholder="Nome Completo"/>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
      <label for="email" class="control-label">E-mail:</label>
      <input type="email"
      formControlName="email"
      id="email"
      class="form-control"
      placeholder="exemple@exemple.com"/>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('dataNascimento')">
      <label for="dataNascimento" class="control-label">Data de Nascimento:</label>
      <input type="text"
      maxlength="10"
      minlength="10"
      formControlName="dataNascimento"
      id="dataNascimento"
      class="form-control"
      placeholder="data de nascimento"/>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('dataCadastro')">
      <label for="dataCadastro" class="control-label">Data de Cadastro:</label>
      <input type="text"
      maxlength="10"
      minlength="10"
      formControlName="dataCadastro"
      id="dataCadastro"
      class="form-control"
      placeholder="data de cadastro"/>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('salarioMensal')">
      <label for="salarioMensal" class="control-label">Salario Mensal:</label>
      <input type="text"
      formControlName="salarioMensal"
      id="salarioMensal"
      class="form-control"
      placeholder="Salario Mensal"/>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('senha')">
      <label for="senha" class="control-label">Senha:</label>
      <input type="password"
      maxlength="20"
      minlength="6"
      formControlName="senha"
      id="senha"
      class="form-control"
      placeholder="Senha"/>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-2">
        <label for="cep" class="control-label">CEP:</label>
        <div class="form-grup" [ngClass]="aplicaCssErro('cep')">
          <input type="text"
          formControlName="cep"
          id="cep"
          class="form-control"
          placeholder="CEP"
          (blur)="consultaCEP()"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="aplicaCssErro('rua')">
          <label for="rua" class="control-label">Rua:</label>
          <input type="text"
          formControlName="rua"
          id="rua"
          class="form-control"
          placeholder="Rua"/>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group" [ngClass]="aplicaCssErro('numero')">
          <label for="numero" class="control-label">Número:</label>
          <input type="text"
          formControlName="numero"
          id="numero"
          class="form-control"
          placeholder="Número"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('bairro')">
          <label for="bairro" class="control-label">Bairro:</label>
          <input type="text"
          formControlName="bairro"
          id="bairro"
          class="form-control"
          placeholder="Bairro"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('cidade')">
          <label for="cidade" class="control-label">Cidade:</label>
          <input type="text"
          formControlName="cidade"
          id="cidade"
          class="form-control"
          placeholder="Cidade"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('estado')">
          <label for="estado" class="control-label">Estado:</label>
          <input type="text"
          formControlName="estado"
          id="estado"
          class="form-control"
          placeholder="Estado"/>
        </div>
      </div>
    </div>
</div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('numeroCelular')">
      <label for="numeroCelular" class="control-label">Telefone:</label>
      <input type="text"
      formControlName="numeroCelular"
      id="numeroCelular"
      class="form-control"
      placeholder="Celular"/>
    </div>
  </div>

  <div class="col-12">
    <button
      type="submit"
      class="btn text-white btn-warning btn-block fw-bold"
      id="button"
      style="margin: 0 10px;"
      [disabled]="!cadastroForm.valid"
    >
      Cadastrar
    </button>

    <button
      type="submit"
      class="btn text-white btn-danger btn-block fw-bold"
      (click)="resetar()"
      >
        Resetar
    </button>
  </div>
</form>
</div>

<!-- FOOTER -->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">MRN Bank </a>
  </div>
  <!-- Copyright -->
</footer>


