<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark custom" style="background-color: rgba(250, 138, 34, 0.932);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo/logo2.png" alt="" width="60" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container">
  <h3>Preencha os dados cadastrais abaixo:</h3>
<form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('cpf')">
      <label for="cpf" class="control-label">CPF:</label>
      <input type="text"
        formControlName="cpf"
        id="cpf"
        class="form-control"
        placeholder="CPF"
      />
      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('cpf')!.valid && cadastroForm.get('cpf')!.touched">
          CPF é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('nomeCompleto')">
      <label for="nomeCompleto" class="control-label">Nome Completo:</label>
      <input type="text"
        formControlName="nomeCompleto"
        id="nomeCompleto"
        class="form-control"
        placeholder="Nome Completo"/>

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('nomeCompleto')!.valid && cadastroForm.get('nomeCompleto')!.touched">
          Nome completo é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
      <label for="email" class="control-label">E-mail:</label>
      <input type="email"
       formControlName="email"
        id="email"
        class="form-control"
        placeholder="exemple@exemple.com"
        email
      />

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('email')!.valid && cadastroForm.get('email')!.touched">
          E-mail é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('dataNascimento')">
      <label for="dataNascimento" class="control-label">Data de Nascimento:</label>
      <input type="date"
        formControlName="dataNascimento"
        id="dataNascimento"
        class="form-control"
      />

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('dataNascimento')!.valid && cadastroForm.get('dataNascimento')!.touched">
          Data de Nascimento é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('dataCadastro')">
      <label for="dataCadastro" class="control-label">Data de Cadastro:</label>
      <input type="date"
        formControlName="dataCadastro"
        id="dataCadastro"
        class="form-control"
      />
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('salarioMensal')">
      <label for="salarioMensal" class="control-label">Salario Mensal:</label>
      <input type="text"
        formControlName="salarioMensal"
        id="salarioMensal"
        class="form-control"
        placeholder="Salario Mensal"
        />

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('salarioMensal')!.valid && cadastroForm.get('salarioMensal')!.touched">
          Salario é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" [ngClass]="aplicaCssErro('senha')">
      <label for="senha" class="control-label">Senha:</label>
      <input type="password"
        formControlName="senha"
        id="senha"
        class="form-control"
        placeholder="Senha"
        />

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('senha')!.valid && cadastroForm.get('senha')!.touched">
          Senha precisa ser maior que 6 caracteres.
      </div>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="col-md-2">
        <label for="cep" class="control-label">CEP:</label>
        <div class="form-grup" [ngClass]="aplicaCssErro('cep')">
          <input type="text"
            formControlName="cep"
            id="cep"
            class="form-control"
            placeholder="CEP"
            (blur)="consultaCEP()"
          />
          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.cep')!.valid && cadastroForm.get('endereco.cep')!.touched">
              Por favor, informe um CEP válido.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="aplicaCssErro('rua')">
          <label for="rua" class="control-label">Rua:</label>
          <input type="text"
            formControlName="rua"
            id="rua"
            class="form-control"
            placeholder="Rua"
          />

          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.rua')!.valid && cadastroForm.get('endereco.rua')!.touched">
              Nome da rua é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group" [ngClass]="aplicaCssErro('numero')">
          <label for="numero" class="control-label">Número:</label>
          <input type="text"
            formControlName="numero"
            id="numero"
            class="form-control"
            placeholder="Número"
          />

          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.numero')!.valid && cadastroForm.get('endereco.numero')!.touched">
              Número é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('bairro')">
          <label for="bairro" class="control-label">Bairro:</label>
          <input type="text"
            formControlName="bairro"
            id="bairro"
            class="form-control"
            placeholder="Bairro"
          />

          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.bairro')!.valid && cadastroForm.get('endereco.bairro')!.touched">
              Bairro é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('cidade')">
          <label for="cidade" class="control-label">Cidade:</label>
          <input type="text"
            formControlName="cidade"
            id="cidade"
            class="form-control"
            placeholder="Cidade"
          />

          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.cidade')!.valid && cadastroForm.get('endereco.cidade')!.touched">
              Cidade é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="aplicaCssErro('estado')">
          <label for="estado" class="control-label">Estado:</label>
          <input type="text"
            formControlName="estado"
            id="estado"
            class="form-control"
            laceholder="Estado"
          />

          <div
            class="alert alert-danger" role="alert"
            *ngIf="!cadastroForm.get('endereco.estado')!.valid && cadastroForm.get('endereco.estado')!.touched">
              Estado é obrigatório.
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="col-md-4">
    <div class="form-group" [ngClass]="aplicaCssErro('numeroCelular')">
      <label for="numeroCelular" class="control-label">Telefone:</label>
      <input type="text"
        formControlName="numeroCelular"
        id="numeroCelular"
        class="form-control"
        placeholder="Celular"
      />

      <div
        class="alert alert-danger" role="alert"
        *ngIf="!cadastroForm.get('numeroCelular')!.valid && cadastroForm.get('numeroCelular')!.touched">
          Número de celular é obrigatório.
      </div>
    </div>
  </div>

  <div class="col-12">
    <button
      type="submit"
      class="btn text-white btn-warning btn-block fw-bold"
      id="button"
      style="margin: 0 10px;"
      [disabled]="!cadastroForm.valid"
    >
      Cadastrar
    </button>

    <button
      type="submit"
      class="btn text-white btn-danger btn-block fw-bold"
      (click)="resetar()"
      >
        Resetar
    </button>
  </div>
</form>
</div>

<!-- FOOTER -->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="bi bi-facebook"></i></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="bi bi-google"></i></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="bi bi-linkedin"></i></a>

      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="bi bi-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">MRN Bank </a>
  </div>
  <!-- Copyright -->
</footer>
