body {
  background-color: #f5f7fa;
}

.bi {
  color: orange;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 4em;
  font-weight: bold;
}

.bi-whatsapp {
  position: relative;
  color: rgb(8, 219, 8);
  font-size: 3em;
  margin-left: 100%;
}

.bi-box-arrow-in-right {
  color: white;
  font-weight: bold;
  margin-left: 25%;
}

h3 {
  color: #fa9a1c;
  font-weight: bold;
  text-align: center;
}

p {
  color: #fa9a1c;
  font-weight: bold;
}
